<div class="container text-center">
    <img src="/images/burger.png" alt="Image of a cheese burger">
    <h1>Eat Da Burger</h1>
    <br>
    <p>Enter a burger you would like to add</p>
    <textarea name="blah" id="" cols="30" rows="2"></textarea>
    <br>
    <button class="btn-lg btn-primary btn">Add Burger!</button>
</div>
<div class="container">
    <div class="col-xs-6 notDevoured">
        <h1 class="text-left">Not Devoured</h1>
    </div>
    <div class="col-xs-6 devoured">
        <h1 class="text-right">Devoured</h1>
    </div>
</div>