<!DOCTYPE html>
<html>
  <head>
    <title>Eat Da Burger</title>
    <link rel="shortcut icon" href="favicon.ico?" type="image/x-icon">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/javascripts/main.js"></script>
</html>
